name: Docker Image CI

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.1

      - name: Get the version
        id: vars
        run: echo ::set-output name=tag::$(echo ${GITHUB_REF:14})

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0

      - name: Login to DockerHub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Release version
        id: release_version
        run: |
          echo ::set-output name=version::$(node -p "require('./package.json').version") >> $GITHUB_ENV

      - name: Build the Docker image and Push to DockerHub Current Tag
        uses: docker/build-push-action@v6
        with:
          push: true
          context: .
          platforms: |
            linux/amd64
            linux/arm64
            linux/arm
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/earthquake-alert:${{ env.version }}
            ${{ secrets.DOCKER_USERNAME }}/earthquake-alert:latest
